.navbar{
    position:  sticky;
    top: 0;
}

#navbar{
background-color: black;
}

#navbar>li{
      display: inline-block;
      margin:  25px 30px 25px 30px;
}

#navbar>li>a{
    color: white;
    text-decoration: none;
}